Uzupełnij dane!<br />
<br />
<%= form_for @employee do |e|%>
  <div class="field">
    <%= e.label :first_name %><br />
    <%= e.text_field :first_name %>
  </div>

  <div class="field">
    <%= e.label :last_name %><br />
    <%= e.text_field :last_name %>
  </div>

  <div class="field">
    <%= e.label :pesel %><br />
    <%= e.number_field :pesel %>
  </div>

  <%= e.fields_for :user do |u| %>
    
    <%= u.fields_for :address do |a| %>
      <div class="field">
        <%= a.label :street %><br />
        <%= a.text_field :street%>
      </div>
      <div class="field">
        <%= a.label :house_number %><br />
        <%= a.text_field :house_number %>
      </div>
      <div class="field">
        <%= a.label :apartment_number %><br />
        <%= a.text_field :apartment_number %>
      </div>
      <div class="field">
        <%= a.label :city %><br />
        <%= a.text_field :city %>
      </div>
      <div class="field">
        <%= a.label :postal_code %><br />
        <%= a.text_field :postal_code %>
      </div>
    <% end%>
  <% end %>   
  <div class="field">
    <%= e.label :specialization %><br />
    <%= e.text_field :specialization %>
  </div>
  <div class="actions">
    <%= e.submit "Save" %>
  </div>

<% end %>