<div class="container">            
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Doctor</th>
      <th>Medicine</th>
      <th>Recommendations</th>
    </tr>
  </thead>
  <tbody>
    <% @prescriptions.each do |prescription| %>
    <tr data-link="<%= prescription_path(prescription) %>" style="cursor: pointer;">
      <td><%= prescription.reservation.date_formated %></td>
      <td><%= prescription.reservation.doctor.full_name %>
      <td><%= prescription.medicine %></td>
      <td><%= prescription.recommendations %></td>
    <% end %>
    </tr>
    
  </tbody>
</table>

</div>
 <script>
   $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>