<div class="container">            
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Doctor</th>
      <th>Medicine</th>
      <th>Recommendations</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @prescriptions.each do |prescription| %>
    <tr>
      <td><%= prescription.reservation.date_formated %></td>
      <td><%= prescription.reservation.doctor.full_name %>
      <td><%= prescription.medicine %></td>
      <td><%= prescription.recommendations %></td>
      <td><%= link_to 'Show', prescription_path(prescription), class: "btn btn-outline-secondary" %>
    <% end %>
    </tr>
    
  </tbody>
</table>

</div>
