<div class='container'>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Date of issue</th>
          <td><%= @prescription.reservation.date_formated %></td>
      </tr>

      <tr>
        <th>Doctor</th>
          <td><%= @prescription.reservation.doctor.full_name %></td>
      </tr>

      <tr>
        <th>Medicine</th>
          <td><%= @prescription.medicine %></td>
      </tr>

      <tr>
        <th>Recommendations</th>
          <td><%= @prescription.recommendations %></td>
      </tr>

    </tbody>
  </table>
  <%= link_to 'Reservation', reservation_path(@prescription.reservation), class: "btn btn-outline-secondary" %>
</div>