<div class='container'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Doctor</th>
        <th>Medicine</th>
        <th>Recommendations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @prescription.reservation.date_formated %></td>
        <td><%= @prescription.reservation.doctor.full_name %>
        <td><%= @prescription.medicine %></td>
        <td><%= @prescription.recommendations %></td>
      </tr>    
    </tbody>
  </table>

  <table class='table table-striped' id="productSizes" >
    <thead>
      <tr class="d-flex">
        <th class='col-6'>Symptoms</th>
        <th class=col-6>Diagnosis</th>
      </tr>
    </thead>
    <tbody>
        <tr class="d-flex">
          <td class='col-6'><%= @prescription.reservation.symptoms %></td>
          <td class='col-6'><%= @prescription.reservation.diagnosis %></td>
        </tr>
    </tbody>
  </table>
</div>