<div class="container">            
<table class="table table-striped">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Date</th>
      <th>Doctor</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.patient.full_name %></td>
      <td><%= reservation.date_formated %></td>
      <td><%= reservation.doctor.full_name %></td>
      <td><%= reservation.check_status %>
      <td>
      <%= link_to 'Show', admin_reservation_path(reservation), class: "btn btn-outline-secondary" %>
      <% if params[:format] == 'today_all_reservations' %>
        <%= link_to 'Issue a bill', new_admin_reservation_bill_path(reservation), class: "btn btn-outline-secondary"%>
      <% end %>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>
</div>
