<div class="container">       
  <% if params[:date] %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Patient</th>
          <th>Date</th>
          <th>Doctor</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr data-link="<%= reservation_path(reservation) %>" style="cursor: pointer;">
          
            <td><%= reservation.patient.full_name %></td>
            <td><%= reservation.date_formated %></td>
            <td><%= reservation.doctor.full_name %></td>
            <td><%= reservation.check_status %></td>
            <td>
              <% if reservation.status && reservation.bill.nil? && reservation.date_time == Time.now.all_day  %>
                <%= link_to 'Issue a bill', new_admin_reservation_bill_path(reservation), class: "btn btn-outline-secondary"%>
              <% end %>
            </td>
        <% end %>
          </tr>
      </tbody>
    </table>
  <% else %>
    <%= month_calendar events: @reservations do |date, reservations| %>
      <div class='clickable' data-link="<%= admin_reservations_path(date: date) %>" style="cursor: pointer;">
      <%= date %><br />
      Reservations: <%= reservations.count%>
      </div>
    <% end %>
  <% end%>
</div>

 <script>
$(".clickable").click(function () {
    window.location = $(this).data("link");
    
});
$("tr[data-link]").click(function() {
    window.location = $(this).data("link");
});
</script>
 

