<div class="container">            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Patient</th>
        <th>Date</th>
        <th>Doctor</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @reservation.patient.full_name %></td>
        <td><%= @reservation.date_formated %></td>
        <td><%= @reservation.doctor.full_name %>
        <td><%= @reservation.check_status%>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped" id="productSizes">
    <thead>
      <tr class="d-flex">
        <th class='col-6'>Symptoms</th>
        <th class='col-6'>Diagnosis</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex">
        <td class='col-6'><%= @reservation.symptoms %></td>
        <td class='col-6'><%= @reservation.diagnosis %></td>
      </tr>
    </tbody>
  </table>
</div>
