<div class="container">            
<table class="table table-striped">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Paid</th>
      <th>Payment date</th>
      <th>Doctor name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
    <tr>
  
      <td><%= bill.amount %></td>
      <td><%= bill.check_status %></td>
      <td><%= bill.payment_date %></td>
      <td><%= bill.reservation.doctor.full_name %></td>
      <td>
      <%= link_to 'Show', bill_path(bill), class: "btn btn-outline-secondary" %>
      </td>
    <% end %>
    </tr>
    
  </tbody>
</table>

</div>
