 <div class='container'>
  <table class='table table-striped' id="productSizes">
    <thead>
      <tr class="d-flex">
        
        <th class='col-9'>Payment date</th>
        <th class=col-3>Paid</th>
      </tr>
    </thead>
    <tbody>
        <tr class="d-flex">
          <td class='col-9'><%= @bill.payment_date %></td>
          <td class='col-3'><%= @bill.check_status %></td>
        </tr>
    </tbody>
  </table>

  <table class='table table-striped border' id="productSizes" >
    <thead>
      <tr class="d-flex">
        <th class='col-9'>Description</th>
        <th class=col-3>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @bill.bill_items.each do |b_item| %>
        <tr class="d-flex">
          <td class='col-9'><%= b_item.description %></td>
          <td class='col-3'><%= b_item.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class='row padding'>
    <div class='col-9'>
      <p class="font-weight-bold">Sum</p>
    </div>
    <div class='col-3'>
      <p class="font-weight-bold"><%= @bill.amount %> e</p>
    </div>
  </div>

  <%= link_to 'Reservation', reservation_path(@bill.reservation), class: "btn btn-outline-secondary"%>
  <% if current_user.admin %>
    <%= link_to 'Destroy', bill_path(@bill), method: :delete, 
    data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary"%>
  <% end %>
 </div>
