<div class='container'>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Patient</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr data-link="<%= reservation_path(reservation) %>" style="cursor: pointer;">
            <% if current_user.doctor %>
              <td><%= reservation.patient.full_name %></td>
            <% else %>
              <td><%= reservation.doctor.full_name %></td>
            <% end %>
            <td><%= reservation.date_formated %></td>
            <td><%= reservation.check_status %></td>
        <% end %>
          </tr>
      </tbody>
  </table>
</div>

<script>
   $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
