<div class="container">            
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Doctor</th>
      <th>Specialization</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
  
      <td><%= reservation.date_formated %></td>
      <td><%= reservation.doctor.full_name %></td>
      <td><%= reservation.doctor.specialization%></td>
      <td><%= reservation.check_status %></td>
      <td>
      <%= link_to 'Show', reservation_path(reservation), class: "btn btn-outline-secondary" %>
    <% end %>
    </tr>
    
  </tbody>
</table>

</div>
