<div class="container">            
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Doctor</th>
      <th>Specialization</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.date_formated %></td>
      <td><%= reservation.employee.full_name %>
      <td><%= reservation.employee.specialization%>
      <td><%= reservation.check_status %>
      <%= link_to 'Edit', edit_reservation_path(reservation) %>
    <% end %>
    </tr>
  </tbody>
</table>

</div>
