<div class='container'>
  <%= week_calendar events: @reservations do |date, reservations| %>
      <div class='clickable' data-link="<%= reservations_path(date: date) %>" style="cursor: pointer;">
        <center><%= date %></center>
      </div>
      <% reservations.each do |reservation| %>
        <div class='clickable' data-link="<%= reservation_path(reservation) %>" style="cursor: pointer;">
          <%= reservation.hour_formated %>
          <% if current_user.doctor? %>
            <%= reservation.patient.full_name %>
          <% else %>
            <%= reservation.doctor.full_name %>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>

<script>
$(".clickable").click(function () {
    window.location = $(this).data("link");
    
});
</script>