<h2><center>Reservation</center></h2>
<div class="container">            
  <table class="table table-striped">
      <tbody>
        <tr>
          <th>Patient</th>
            <td><%= @reservation.patient.full_name %></td>
        </tr>

        <tr>
          <th>Date</th>
            <td><%= @reservation.date_formated %></td>
        </tr>

        <tr>
          <th>Doctor</th>
            <td><%= @reservation.doctor.full_name %></td>
        </tr>

        <tr>
          <th>Symptoms</th>
            <td><%= @reservation.symptoms %></td>
        </tr>

        <tr>
          <th>Status</th>
            <td><%= @reservation.check_status %></td>
        </tr>

        <tr>
          <th>Diagnosis</th>
            <td><%= @reservation.diagnosis %></td>
        </tr>
      </tbody>
  </table>
  <% unless @reservation.prescriptions.empty? %>
    <%= link_to 'Prescriptions', prescriptions_path(@reservation), class: "btn btn-outline-secondary"%>
  <% end %>
  <% if current_user.admin %>
    <%= render 'admin_buttons'%>
  <% elsif current_user.patient %>
    <%= render 'patient_buttons'%>
  <% end %>
</div>
