<h2><center>Reservation</center></h2>
<div class="container">            
  <table class="table table-striped">
      <tbody>
        <tr>
          <th>Patient</th>
            <td><%= @reservation.patient.full_name %></td>
        </tr>

        <tr>
          <th>Date</th>
            <td><%= @reservation.date_formated %></td>
        </tr>

        <tr>
          <th>Doctor</th>
            <td><%= @reservation.doctor.full_name %></td>
        </tr>

        <tr>
          <th>Date</th>
            <td><%= @reservation.date_formated %></td>
        </tr>

        <tr>
          <th>Symptoms</th>
            <td><%= @reservation.symptoms %></td>
        </tr>

        <tr>
          <th>Status</th>
            <td><%= @reservation.check_status %></td>
        </tr>

        <tr>
          <th>Diagnosis</th>
            <td><%= @reservation.diagnosis %></td>
        </tr>
      </tbody>
  </table>
  <% if current_user.patient && !@reservation.status %>
    <%= link_to 'Edit', edit_reservation_path(@reservation), class: "btn btn-outline-secondary" %> 
    <% if Time.now.beginning_of_day + 3.days < @reservation.date_time %>
    <%= link_to 'Cancel', reservation_path(@reservation),
        method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary"%>
    <% end %>
  <% end %>
  <% if current_user.patient && @reservation.status %>
    <%= link_to 'Bill', bill_path(@reservation.bill), class: "btn btn-outline-secondary"%>
    <%= link_to 'Prescriptions', prescriptions_path(@reservation), class: "btn btn-outline-secondary"%>
  <% end %>
</div>
