<div class="container">            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Patient</th>
        <th>Date</th>
        <th>Doctor</th>
        <th>Symptoms</th>
        <th>Status</th>
        <th>Diagnosis</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @reservation.users.find_by(employee: false).full_name %></td>
        <td><%= @reservation.date_formated %></td>
        <td><%= @reservation.users.find_by(employee: true).full_name %>
        <td><%= @reservation.symptoms %></td>
        <td><%= @reservation.check_status%>
        <td><%= @reservation.diagnosis %></td>
        <td>
        <% unless current_user.employee%>
          <%= link_to 'Edit', edit_reservation_path(@reservation), class: "btn btn-outline-secondary" %> 
          <% if Time.now.beginning_of_day + 3.days < @reservation.date_time %>
            <%= link_to 'Cancel', reservation_path(@reservation),
                method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary"%>
          <% end %>
          
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
