Uzupełnij dane!<br />
<%= form_for @patient do |p|%>
  <div class="field">
    <%= p.label :first_name %><br />
    <%= p.text_field :first_name %>
  </div>

  <div class="field">
    <%= p.label :last_name %><br />
    <%= p.text_field :last_name %>
  </div>

  <div class="field">
    <%= p.label :pesel %><br />
    <%= p.number_field :pesel %>
  </div>

  <%= p.fields_for :user do |u| %>
    
    <%= u.fields_for :address do |a| %>
      <div class="field">
        <%= a.label :street %><br />
        <%= a.text_field :street%>
      </div>
      <div class="field">
        <%= a.label :house_number %><br />
        <%= a.text_field :house_number %>
      </div>
      <div class="field">
        <%= a.label :apartment_number %><br />
        <%= a.text_field :apartment_number %>
      </div>
      <div class="field">
        <%= a.label :city %><br />
        <%= a.text_field :city %>
      </div>
      <div class="field">
        <%= a.label :postal_code %><br />
        <%= a.text_field :postal_code %>
      </div>
    <% end%>
  <% end %>   
  <div class="field">
    <%= p.label "I want get emails" %><br />
    <%= p.check_box :wants_email %>
  </div>
  <div class="actions">
    <%= p.submit "Save" %>
  </div>

<% end %>