<%= form_for @patient do |f|%>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :pesel %><br />
    <%= f.number_field :pesel %>
  </div>


<%= f.fields_for :address do |a| %>
    <div class="field">
      <%= a.label :street %><br />
      <%= a.text_field :street%>
    </div>
    <div class="field">
      <%= a.label :house_number %><br />
      <%= a.text_field :house_number %>
    </div>
    <div class="field">
      <%= a.label :apartment_number %><br />
      <%= a.text_field :apartment_number %>
    </div>
    <div class="field">
      <%= a.label :city %><br />
      <%= a.text_field :city %>
    </div>
    <div class="field">
      <%= a.label :postal_code %><br />
      <%= a.text_field :postal_code %>
    </div>
    <% end %>

  <div class="field">
    <%= f.label :wants_email? %><br />
    <%= f.check_box :wants_email? %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  <div class="field">
<% end%>