<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :pesel %><br />
    <%= f.number_field :pesel %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.label :want_email %>
    <%= f.check_box :want_email %>
  </div>

  <div class="field">
    <%= f.label :employee %>
    <%= f.check_box :employee %>
  </div>

  <div id="specialization" class="field hidden">
    <%= f.label :specialization %><br />
    <%= f.text_field :specialization %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<<<<<<< HEAD
=======
<%= render "users/shared/links" %>
>>>>>>> 7d2707234e95f7e87fc40dba7659df97206c2352

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#user_employee').change(function() {
       if($(this).is(":checked")) {
          $("#specialization").removeClass("hidden");
          return;
       }
       $("#specialization").addClass("hidden");
    });
  })
</script>
<<<<<<< HEAD


<%= render "users/shared/links" %>
=======
>>>>>>> 7d2707234e95f7e87fc40dba7659df97206c2352
