<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class='form-group'>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: "form-control"  %>
  </div>

  <div class='form-group'>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: "form-control"  %>
  </div>

  <div class='form-group'>
    <%= f.label :pesel %><br />
    <%= f.number_field :pesel, class: "form-control"  %>
  </div>

  <div class='form-group'>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
  </div>

  <div class='form-group'>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
  </div>
  
  <div class='form-group'>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
  </div>
  
  <div class='form-group'>
    <%= f.label :want_email %>
    <%= f.check_box :want_email %>
  </div>

  <div class='form-group'>
    <%= f.label :employee %>
    <%= f.check_box :employee %>
  </div>

  <div id="specialization" class="form-group hidden">
    <%= f.label :specialization %><br />
    <%= f.text_field :specialization, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-outline-secondary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#user_employee').change(function() {
       if($(this).is(":checked")) {
          $("#specialization").removeClass("hidden");
          return;
       }
       $("#specialization").addClass("hidden");
    });
  })
</script>
